@import '../assets/Colours.css';

.card {
    position: relative;
    font-size: 14px;
    margin: 0 20px;
}

.card h2 {
    font-weight: normal;
    font-size: 14px;
}

.card-badge {
    position: absolute;
    background-color: var(--bgcolor);
    left: 5%;
    top: 5%;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
}

.card-grid {
    overflow-x: scroll;
    display: flex;
    width: 100%;
    padding: 40px 20px;
    flex-wrap: nowrap;
}

.card-image {
    width: 200px;
    border-radius: 15px;
    margin: 10px 0;
}

.rating {
    display: flex;
}

.rating img {
    width: 20px;
    height: 20px;
}

.rating p {
    font-weight: 100;
    margin: 0 10px;
}

.inline-bold {
    font-weight: 600;
}

.light-text {
    color: var(--lightfontcolor);
}

