@import '../assets/Colours.css';

.card {
    font-size: 14px;
    margin: 0 20px;
}

.card h2 {
    font-weight: normal;
    font-size: 14px;
}

.card-grid {
    display: flex;
    width: 100%;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.card-image {
    width: 200px;
    border-radius: 25px;
    margin: 10px 0;
}

.rating {
    display: flex;
}

.rating img {
    width: 20px;
    height: 20px;
}

.rating p {
    font-weight: 100;
    margin: 0 10px;
}

.inline-bold {
    font-weight: 600;
}

.light-text {
    color: var(--lightfontcolor);
}

